@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(243, 241, 241, 0.96);
  
}

body {
  background-color: var(--background);
 
}

.fix-height {
  min-height: calc(100vh - 150px);
}
.overflow-height {
  min-height: calc(100vh - 150px);
}